{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>
<div id='screen'>
  <div id='container'>
    <div id='product_image_container'>
      <img id='product_image' src="{{product.image_url}}"/>
    </div>
    <div id='product_detail'>
      <p id='delivery_company'>샛별배송<p> 
        <p id='product_name'>{{product}}</p>
        <p id='description'>{{product.description}}</p>
        <p id='origin_price'>{{product.origin_price}}원</p>
        <p id='discount_rate'>{{product.discount_rate}}%</p>
        <p id='discount_price'>{{product.discount_price}}원</p>
    </div>
  </div>
</div>
<!-- 데이터 사용 예시 -->

<script src="{% static 'js/main/product_detail_page.js'%}"></script>
{% endblock %}
